@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



body{
    background-image: url(https://image.freepik.com/free-vector/business-workplace-background_87720-336.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;


}

h1 {


    color: black;
}
h2, h3{ 
    margin: 30px;
    color: brown;
}
h5 ,h4{
    color:black;
}
p{
    margin: 20px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}
.Fuente{
    margin: 20px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.arena {
     margin-top: 0%;
   
    background-color: rgb(199, 195, 195);
    border-radius: 10px;
    text-align: center;
}
.green{
    
background-color:rgb(231, 226, 226);
border-radius: 10px;
text-align: center;

}

a
{

    text-decoration: none;
}
a:hover{

    background-color: rgb(49, 167, 68);
    color: aliceblue;
    
}
.arena:hover{

    background-color: rgb(122, 112, 112);
}
.green:hover{

    background-color: rgb(189, 194, 189);
}
    
.menu{
    width: 1000px;
    margin: 20px auto;
    background: rgb(117, 117, 117);
    border-radius: 10px;
}
.menu ul{

    list-style: none;
}
.menuh > li{

   position: relative; 
   display:inline-block;
}

.menuh > li a{

    display: block;
    padding: 15px 20px;
    color: beige;
    text-decoration: none;
}
.menuv{

    position: absolute;
    background: black;
    display: none;
}

.menuh li:hover .menuv{
    display: block;
}
