<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
          crossorigin="anonymous">
          <link rel="stylesheet" href="EstiloEcoproyecto.Css">   
<title>Title of the document</title>


</head>
<body>
    
    <div class="fijo">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="Proyectos.html" class="button btn btn-success" >Volver</a> 
           
          </div>
        </div>
    <div class="Proyecto">
    <h3>Index del proyecto</h3>
    <p><!DOCTYPE html>

        <html xmlns:th="htpp//www.thymeleaf.org">
            <head th:replace= "/fragments/head :: head"> </head>
            <body>
                 <div>  
              <div th:if ="${exito!=null}" class="card text-white bg-success mb-3 mensajeExito">
                      <div class="card-body" >  
                          <h5 class="card-title" >Exito! </h5 >       
                         <p class="card-text" th:text="${exito}" ></p > 
                         </div >  
                            
                             </div >  
                <div>
                    
                     <h1>!!Bienvenido a Torneo de Latas </h1>
                     <h2>Impacto ambiental del aluminio </h2>
                     <p><strong>La contaminación que genera la industria del aluminio es preocupante porque arroja millones de
                         toneladas al año de gases de efecto invernadero, como el dióxido de carbono, y gases que están 
                         presentes también en la lluvia ácida como el óxido de azufre y el óxido de nitrógeno.</strong></p>
                     <h2> ¿Qué pasa si reciclamos latas de aluminio?</h2>
                     <p><strong>El reciclaje del aluminio ayuda a utilizar menos recursos tanto de materias primas como de energía,
                         ya que la producción del mineral primario es mucho menos sostenible que su reciclaje.
                         Reutilizar una tonelada de aluminio permite ahorrar 14,630 kw por hora y 91,200 litros de agua.
                         Sin embargo, la única solución para evitar el agotamiento de este recurso es lograr una tasa
                         de reciclaje global del 100%.</strong></p>
                    <h2>¿Cuántas veces se puede reciclar una lata de aluminio? </h2>
                <p><strong>El aluminio puede reciclarse infinitas veces sin perder sus propiedades.
                    No cortemos el ciclo, tomemonos el tiempo de reciclar aluminio.</strong></p>
                <p><strong>En torneo de latas buscamos hacer el mayor aporte  posible a esta causa colaborando en el reciclado y ademas 
                estimulando a las personas a traves de pozos acumulados que permitan recibir importantes premios en efectivo 
                a las personas que obtengan mejor puntaje al cerrar cada mes.</strong> </p>
                 </div >  
                
                <div>
                    <a href="/Iniciosesion" class="button btn btn-dark" >Ingresar</a>
                     <p><strong>Si no esta registrado registrese aqui</strong></p>
                     <a href="/Basesycondiciones"  class="button btn btn-dark">Registrarse</a>
                      </div> 
                      
                </div>
                <div class="White"></div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                crossorigin="anonymous"></script>
                <br>
                <br>
                <br>

            </body>
        </html>
        </p>
      
        <p><!DOCTYPE html>

            <html xmlns:th="htpp//www.thymeleaf.org">
                <head>
                    <title>Bases y Condiciones</title>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                           rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                           crossorigin="anonymous">
                    <link rel="stylesheet" href="FondoPantalla.css"/>
                </head>
                <body>
                    <div>
                        <h1>Bases y condiciones de Torneo de Latas</h1>
                        <p>Cada Lata recolectada y entregada suma puntos.  El puntaje de cada una se establece segun su capacidad dividido en 100.
                            Por ejemplo una latas de 473 ml suma 4.73 puntos a tu cuenta  de puntos y el mismo valor en pesos al pozo acumulado general.
                        El ultimo dia de cada mes  se premia a la persona que tiene mas puntos.El premio consiste en el total de lo acumulado el mes anterior.
                        El mismo se abona a traves de deposito bancario.Los Datos de la cuenta bancaria se  solicitara solo en el caso de resultar ganador.
                        El pozo acumulado  podra visualizarse desde el primer dia de cada mes.El ganador debera canjear todos sus puntos por el pozo acumulado
                        o podra optar por no cobrar y mantener los puntos si considera que el pozo acumulado no lo satisface.
                        Siendo en ese caso el siguiente en puntaje en tener el derecho a cobro.
                        En caso de haber mas de un ganador  y que nadie desista de cobrarlo el pozo acumulado se dividira por la cantidad de ganadores,
                        siendo los puntos descontados de igual manera.En ningun caso se puede solicitar cobrar si no se resulta ganador.
                        </p> 
                        <br>
                        <br>

                         <a href="/registro" class="button btn btn-dark" >Acepto</a>
                         <a href="/" class="button btn btn-dark" >No Acepto</a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="White"></div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                    crossorigin="anonymous"></script>
                </body>
            </html></p>
            <h2>Pagina Central</h2>
            <p>
                <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security">
                    <head th:replace= "/fragments/head :: head"> 
                
                
                
                    </head>
                    <body>
                    <headers>  
                       <div class="menu">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                            <div class="container-fluid">
                
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="button btn btn-success" aria-current="page" href="#">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/paneles" sec:authorize="hasRole('ADMIN')">Usuarios</a>
                                        </li> 
                                        <a class="nav-link" href="/ecoideas">Ecoideas</a>
                                        </li>
                                        <li>
                                            <a class="nav-link "  href="/Listartodos" role="button" sec:authorize="hasRole('ADMIN')" >Listar Usuarios </a>
                                        </li>
                                        <li>
                                            <a class="nav-link "  href="/Modificar" role="button"  >Modificar Datos </a>
                                        </li>
                
                
                                        <li><a class="nav-link" href="/logout">Salir</a></li>
                
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    </headers>
                    
                
                    <img class="imagen">
                    <div>
                
                        <h1 class="button btn btn-success">"Bienvenido!!!! Usuario" </h1>
                    </div>
                    <div>
                        <h5 class="puntos"  th:text="'Tus Puntos '+${session.usuariosession.ecopuntos}" > </h5>
                    </div>
                     <div>
                    <p> Desde que surgió la vida en la Tierra, todos los organismos, incluyendo a los seres humanos,
                        han dependido de las cosas que existen libremente en la naturaleza para poder sobrevivir.
                        Estas cosas tan esenciales incluyen elementos como el agua, la luz del Sol, los suelos, los bosques, 
                        las plantas, los animales, etc. También se les ha dado uso a otras cosas presentes en la naturaleza
                        para nuestro beneficio, por ejemplo, a los materiales para fabricar herramientas, ropa, medicinas y en general,
                        cualquier otra cosa que contribuya a nuestro desarrollo.</p>
                        <h1>Consecuencias de la sobreexplotación de los recursos naturales</h1>
                <p>Comentábamos anteriormente que los recursos no renovables tenían algunas desventajas y están asociadas
                    a su uso excesivo o sobreexplotación. La más obvia es que son recursos que se agotarán y que, por tanto,
                    tendremos que reemplazar antes de que ello suceda para que la sociedad no se paralice. La otra desventaja
                    es que hay un gran riesgo provocado por su combustión, con la que se generan gases y partículas que incrementan 
                    la polución (problema que afecta directamente en nuestra calidad de vida). Pero lo más significativo es la gran
                    cantidad de CO2 que se emite a la atmósfera en dicha combustión, contribuyendo al incremento del efecto 
                    invernadero y al cambio climático.
                 </p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                <br>

                 </div>
                 <div class="White"></div>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                    crossorigin="anonymous"></script>
                
                
                </body>
                </html>
                </p>
                <p><!DOCTYPE html>

                    <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security">
                        <head>
                            <title>Consultar y Modificar Usuario</title>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                                  rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                  crossorigin="anonymous">
                            <link rel="stylesheet" href="FondoPantalla.css"/>
                            <link rel="stylesheet" href="Centrado.css"/> 
                        </head>
                        <body>
                            <h1>Consultar y Modificar Usuario </h1>
                            
                           
                                   
                             <div class="conteiner">
                             <div class="row">
                             <div class="col-6">
                            <div class="datos">
                                <div class="card-body" >  
                                    <h5 class="card text-bg-success mb-3" style="max-width: 18rem;" >Correo Electronico:<span th:text="${email2}"></span></h5 >       
                                    
                                </div >
                                <div class="card-body" >         
                                    <h5 class="card text-bg-success mb-3" style="max-width: 18rem;" >Numero de documento:<span th:text="${dni2}"></span></h5 >       
                                     
                                </div >
                                <div class="card-body" >         
                                    <h5 class="card text-bg-success mb-3" style="max-width: 18rem;" >Nombre:<span th:text="${nombre2}"></span></h5 >       
                                     
                                </div >
                                <div class="card-body" >         
                                    <h5 class="card text-bg-success mb-3" style="max-width: 18rem;" >Apellido:<span th:text="${apellido2}"></span></h5 >       
                                    
                                </div >
                                
                                 <div class="card-body" >         
                                    <h5 class="card text-bg-success mb-3" style="max-width: 18rem;" >Ecopuntos:<span th:text="${ecopuntos}"></span></h5 >       
                                    
                                </div >
                                
                                
                              
                                <a href="/Ingresarpuntos" class="button btn btn-success" >Ingresar Puntos</a> 
                                 
                             <a href="/Central" class="button btn btn-success" >Salir</a>
                            </div>
                        </div>
                            <div class="col-6">
                                <img src="C:\Users\reypa\Pictures\Latasaludando.jpg" >
                            </div>  
                            </div> 
                            </div>  
                        </div>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                             <br>
                            </div >  
                            <div class="White"></div>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                            crossorigin="anonymous"></script>
                        </body>

                    </html>
                    </p>
                  
                    <p><!DOCTYPE html >
                        <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security">
                            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
                                  rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                  crossorigin="anonymous">
                            <link rel="stylesheet" href="FondoPantalla.css"/>
                            <link rel="stylesheet" href="Centrado.css"/>
                        
                            <head>
                                <title>Ingresar Puntos</title>
                                <meta charset="UTF-8">
                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            </head>
                            <body>
                                <h1>Ingresar Puntos</h1>
                                <form th:action="@{/Sumar}" method="POST">
                        
                                    <div >  
                                        <input  class="controls" type="email" name=email2 placeholder="Ingrese nuevamente el mail"> 
                                    </div> 
                                    <h3>Por kg corresponden 400 Ecopuntos.Acredite la cantidad de Kg ingresados</h3>
                                    <div >  
                                        <input  class="controls" type="Ecopuntos" name=ecop placeholder="Ingrese los kilogramos"> 
                                    </div> 
                                    <div > <input class="button btn btn-success " type="submit" ></div>
                                </form>
                                <form th:action="@{/SumarU}" method="POST">
                                    <h3>Puede ingresar tambien por capacidad del envase.Indique la capacidad del  envase y la cantidad a acreditar</h3>
                                    <div >  
                                        <input  class="controls" type="email" name=email2 placeholder="Ingrese nuevamente el mail"> 
                                    </div> 
                                    <input  class="controls" type="Ecopuntos" name=env placeholder="Ingrese la capacidad del envase"> 
                                    <input  class="controls" type="Ecopuntos" name=ecop2 placeholder="Ingrese la cantidad de envases"> 
                                    <div > <input class="button btn btn-success " type="submit" ></div>
                        
                        
                                </form>
                                <br>
                                <br>
                                <br>
                                <div class="White"></div>
                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                crossorigin="anonymous"></script>
                            </body>
                        </html>
                        </p>
                        <h2>Inicio de sesion de Usuario</h2>
                        <p><!DOCTYPE html >
                            <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security">
                                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
                                      rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                      crossorigin="anonymous">
                                <link rel="stylesheet" href="FondoPantalla.css"/>
                                <link rel="stylesheet" href="Centrado.css"/>
                            
                                <head>
                                </head>
                                <body>
                                    <div>
                                         <div th:if ="${error!=null}" class="card text-white bg-danger mb-3 mensajeError">
                                          <div class="card-body" >  
                                              <h5 class="card-title" >Error!  <p class="card-text" th:text="${error}" ></p > </h5 > 
                                                </div >
                                              </div >  
                                        <section class="form-register">
                                         <h4>Inicio de sesion </h4>
                                         <form  th:action="@{/logincheck}" method="POST" >  
                                          <div >  
                                              <input  class="control" type="email" name=email placeholder="Correo Electronico"> 
                                          </div> 
                                         <div >  
                                          <input class="control" type="password" name=password placeholder="Ingrese una clave"> 
                                          </div>
                                          <div >
                                              <div ><button type="submit" class="button btn btn-dark" >Ingresar</button></div>
                                          
                                           </div>
                                              <div>
                                        
                                         <p>Si no esta registrado registrese aqui</p>
                                         <a href="/Basesycondiciones" class="button btn btn-dark" >Registrarse</a>
                                          </div> 
                                           
                                    </div>
                                    </div>
                                    </form> 
                                           </section>
                                           <br>
                                           <br>
                                           <br>
                                           <br>
                                           <br>
                                           <br>
                                           <br>
                                           <div class="White"></div>
                                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                    crossorigin="anonymous"></script>
                                </body>
                            </html>
                            
                                
                            </p>
                          
                                    <h2> Formulario De Registro Usuario</h2>
                                    <p<!DOCTYPE html>

                                    <html xmlns:th="htpp//www.thymeleaf.org">
                                        <head >
                                            <title>Registro de Usuario</title>
                                            <meta charset="UTF-8">
                                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                             <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                                                   rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                                                   crossorigin="anonymous">
                                            <link rel="stylesheet" href="FondoPantalla.css"/>
                                            <link rel="stylesheet" href="Centrado.css"/>
                                            
                                        </head>
                                        <body>
                                             <div > 
                                                <div th:if ="${error!=null}" class="card text-white bg-danger mb-3 mensajeError">
                                                  <div class="card-body" >  
                                                      <h5 class="card-title" >Error!</h5 >       
                                                     <p class="card-text" th:text="${error}" ></p > 
                                                        </div >
                                            </div > 
                                            
                                    
                                                        
                                             <section class="form-register" >
                                            <div><h4> Registro de Usuario</h4></div>
                                            <form th:action="@{/registrar}" method="POST" enctype="multipart/form-data">
                                             <div >
                                                  <div >  
                                                      <input  class="control" type="email" name=email placeholder="Correo Electronico" th:value="${email}"> 
                                                  </div> 
                                                  <div >  
                                                      <input class="control" type="number" name=dni placeholder="dni del usuario" th:value="${dni}"   max="99999999" min="22222222"> 
                                                  </div> 
                                               
                                                  <div >  
                                                 <input class="control" type="text" name=nombre placeholder="Nombre del usuario" th:value="${nombre}"> 
                                                  </div> 
                                                  <div >  
                                                 <input class="control" type="text" name=apellido placeholder="Apellido del usuario" th:value="${apellido}"> 
                                                  </div> 
                                                 <div >  
                                                      <input  class="control" type="file" name=archivo> 
                                                  </div> 
                                                 <div >  
                                                     <input class="control" type="password" name=password placeholder="Ingrese una clave"   th:value="${password}" maxlength="6"> 
                                                  </div> 
                                                 <div >  
                                                  <input class="control" type="password" name=password2 placeholder="Ingrese nuevamente la clave"  th:value="${password2}" maxlenght="6"> 
                                                  </div> 
                                                 <div ><p>Estoy de acuerdo con  <a href="/Basesycondiciones" class="button btn btn-dark" >Bases y condiciones</a></p> </div> 
                                                 
                                                           <div > <input class="button btn btn-dark " type="submit" ></div>
                                    
                                             </div>  
                                                 
                                                 
                                                 <div ><p>¿Ya estas registrado? <a href="/login" class="button btn btn-dark">Ingresar</a> </p ></div> 
                                             </div>  
                                            </div> 
                                                      </section>
                                                      </form>
                                    
                                             
                                               
                                                     
                                                        
                                    </div > 

                                                       </div >
                                             <div class="White"></div>
                                            
                                           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                            crossorigin="anonymous"></script> 
                                                
                                               
                                            
                                         
                                            
                                        </body>
                                    </html>
                                    </p>
                                  
                                        <p> <head>
         
                                            <title>Bienvenidos</title>
                                            
                                            <meta charset="UTF-8">
                                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                                                  rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                                  crossorigin="anonymous">
                                            <link rel="stylesheet" href="FondoPantalla.css">
                                             <script src="https://kit.fontawesome.com/73658ac483.js" crossorigin="anonymous"></script>
                                              
                                    </head></p>

                                   
                                        <h2>Panel</h2>
                                        <p><!DOCTYPE html>
        
                                            <html xmlns:th="htpp//www.thymeleaf.org">
                                                <head>
                                                    <title>Bienvenido</title>
                                            
                                                    <meta charset="UTF-8">
                                                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                                                          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                                          crossorigin="anonymous">
                                                    <link rel="stylesheet" href="FondoPantalla.css"/>
                                                    <link rel="stylesheet" href="Centrado.css"/> 
                                            
                                                </head>
                                                <body>
                                            
                                            
                                                    <div>Bienvenido Administrador !!!!</div>
                                            
                                                    <P>Buscar usuario por:</P>
                                                    <div > 
                                            
                                                        <form th:action="@{/Consultar}" method="POST">
                                                            <div >  
                                                                <input  class="controls" type="email" name=email2 placeholder="Correo Electronico"> 
                                                            </div> 
                                                            <div >  
                                                                <input  class="controls" type="dni" name=dni2 placeholder="Numero de Documento"> 
                                                            </div> 
                                                            <div >  
                                                                <input  class="controls" type="nombre" name=nombre2 placeholder="Nombre"> 
                                                            </div> 
                                                            <div >  
                                                                <input  class="controls" type="apellido" name=apellido2 placeholder="Apellido"> 
                                                            </div> 
                                                            <div > <input class="button btn btn-success " type="submit" >   </div>
                                                        </form>
                                                    </div>
                                            
                                            
                                            
                                                    <div > <a href="/Central" class="button btn btn-success" >Salir</a></div> 
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div class="White"></div>
                                                    
                                                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                                            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                                    crossorigin="anonymous"></script>
                                                </body>
                                            </html>
                                        </p>
                                        <p><!DOCTYPE html>

                                            <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security">
                                                <head>
                                                    <title>Modificar datos</title>
                                                    <meta charset="UTF-8">
                                                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                                       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
                                                           rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
                                                           crossorigin="anonymous">
                                                    <link rel="stylesheet" href="FondoPantalla.css"/>
                                                     <link rel="stylesheet" href="Centrado.css"/>
                                                    
                                                </head>
                                                <body>
                                                    <div>Datos de Usuario</div>
                                                     <form  class="formulario" th:action="@{/Modifica}" method="POST" > 
                                                         
                                                         <input  hidden th:value="${id}" name="id"> 
                                                          <div>
                                                          <div >  
                                                            <input  class="controls" type="email" name=email2 placeholder="Ingrese el mail"> 
                                                        </div> 
                                                               <div >  
                                                            <input  class="controls" type="dni" name=dni2 placeholder="Ingrese el dni"> 
                                                        </div> 
                                                                <div >  
                                                            <input  class="controls" type="nombre" name=nombre2 placeholder="Ingrese el nombre"> 
                                                        </div> 
                                                                <div >  
                                                            <input  class="controls" type="apellido" name=apellido2 placeholder="Ingrese el apellido"> 
                                                        </div> 
                                                                  <div >  
                                                            <input  class="controls" type="password" name=password3 placeholder="Ingrese la clave"> 
                                                        </div>  
                                                                   <div >  
                                                            <input  class="controls" type="password" name=password4 placeholder="Ingrese nuevamente la clave"> 
                                                        </div>  
                                                            
                                                              <div > <input class="button btn btn-success " type="submit" ></div>
                                                               <a href="/Central" class="button btn btn-success" >Salir</a>
                                                         </div>
                                                         <br>
                                                         <br>
                                                         <br>
                                                         <br>
                                                         <br>
                                                         <br>
                                                         <br>
                                                         <div class="White"></div>
                                                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                                    crossorigin="anonymous"></script> 
                                                </body>
                                            </html></p>
                                             <h2>Listar todos los usuarios</h2>
                                    <p><!DOCTYPE html>
        
                                        <html xmlns:th="htpp//www.thymeleaf.org" xmlns:sec="htpp//www.thymeleaf.org/extras/spring-security" >
                                            <head>
                                                <title>Listado de  Usuarios</title>
                                                <meta charset="UTF-8">
                                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
                                                      rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                                                      crossorigin="anonymous">
                                                <link rel="stylesheet" href="FondoPantalla.css"/>
                                                <link rel="stylesheet" href="Centrado.css"/>
                                        
                                            </head>
                                            <body>
                                                <a href="/Central" class="button btn btn-success" >Salir</a>
                                                <div>Esta Vista muestra todos los usuarios que tiene la base de datos</div>
                                                <div>
                                                    <table class="table table-dark">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Apellido</th>
                                                                <th scope="col">Dni</th>
                                                                <th scope="col">Ecopuntos</th>
                                                                <th scope="col">Correo Electronico</th>
                                                                <th scope="col">Modificar</th>
                                                                </div>
                                                            </tr>
                                                        </thead>
                                                        <div >  
                                        
                                        
                                        
                                                        </div> 
                                                        <tbody th:each="usuario:${usuarios}">
                                        
                                        
                                                        <th scope="row" th:text="${usuario.nombre}"></th>
                                                        <td  th:text="${usuario.apellido}" ></td>
                                                        <td  th:text="${usuario.dni}" ></td>
                                                        <td  th:text="${usuario.ecopuntos}" ></td>
                                                        <td  th:text="${usuario.email}" ></td>
                                                        <td>
                                        
                                        
                                        
                                        
                                                            </tbody>
                                                            
                                                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                                                                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
                                                            crossorigin="anonymous"></script> 
                                        
                                                            </body>
                                                            </html>
                                        </p>
                                </div>
                                  


</body>
</html>